[core]
  editor = vim
  pager = less -FRX
  autocrlf = input
[format]
  pretty = full
[alias]
  up = "!f() { git checkout $1 && git pull origin $1; }; f"
  prune = "!f() { git branch | grep -v "$1" | xargs git branch -D; }; f"
[user]
  email = vndhero@gmail.com
  name = Hero
[pull]
  rebase = true
[push]
  default = simple
[rebase]
	autoStash = true
[fetch]
	prune = true
[grep]
	lineNumber = true
[credential]
  helper = store
[pager]
  branch = false
