[core]
  editor = vim
  pager = delta
  autocrlf = input
[format]
  pretty = full
[alias]
  up = "!f() { git checkout $1 && git pull origin $1; }; f"
  prune = "!f() { git branch | grep -v "$1" | xargs git branch -D; }; f"
[user]
  email = {{GIT_EMAIL}}
  name = {{GIT_USERNAME}}
[pull]
  rebase = true
[push]
  default = simple
[rebase]
  autoStash = true
[fetch]
  prune = true
[grep]
  lineNumber = true
[credential]
  helper = store
[pager]
  branch = false
[interactive]
  diffFilter = delta --color-only --features=interactive
[delta]
  features = decorations
  side-by-side = true
[delta "interactive"]
  keep-plus-minus-markers = false
[delta "decorations"]
  commit-decoration-style = blue ol
  commit-style = raw
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = file line-number syntax
